/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
     background:url(../img/ScreenAppGrafhit.png) no-repeat center top; /* 170px x 200px */
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
   /* background-color:#E4E4E4;

    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;*/
}
#grafhit{
  background:url(../img/ScreenAppGrafhit.png) no-repeat center top; /* 170px x 200px */
  background-size:auto;
}
#options{
  background:url(../img/ScreenAppGrafhitOptions.png) no-repeat center top; /* 170px x 200px */
   
}
#menuFera{
  background:url(../img/ScreenAppGrafhitFera.png) no-repeat center top; /* 170px x 200px */ 
   
  
}
.menuFerarock{
width:50%;
height:80%;
margin-top:20%;
margin-bottom:10%;
padding-top:50%;
padding-bottom:50%;

background:no-repeat center top;


float:left;


  
}

.menuFerarockbtn{
width:15%;
height:80%;
margin-left:5%;
margin-top:20%;
margin-bottom:10%;
padding-top:50%;
padding-bottom:50%;

background:no-repeat center top;


float:left;


  
}
.customContent{
  background: no-repeat center top;
  padding-top:50%;
padding-bottom:50%;

}

.clear{
  clear:both;
}
.pgFooter{
  padding-left:50%;
padding-right:50%;
}